<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Главная страница</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: url(&quot;/img/bg.jpg&quot;) top / cover;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Главная страница</h2>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <form class="bg-light rounded" action="/search" method="post">
                        <div class="row">
                            <div class="col">
                                <p style="margin-bottom: 5px;">Название</p>
                                <input class="form-control" type="text" style="margin-bottom: 5px;" name="name"
                                       th:value="${name}">
                            </div>
                            <div class="col">
                                <p style="margin-bottom: 5px;">Категория</p>
                                <select class="form-select" style="margin-bottom: 10px;" required="" name="categoryId">
                                    <option th:each="c : ${categories}" th:value="${c.id}" th:label="${c.name}"
                                            th:selected="${c.id == selectedCId}"></option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary mb-2 w-100" type="submit" style="margin-right: 5px;margin-bottom: 5px;">
                                    Поиск
                                </button>
                                <a class="btn btn-secondary w-100" role="button" href="/"
                                   style="color: var(--bs-btn-disabled-color);">Сброс</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12">
                    <div class="row" style="justify-content: space-between">
                        <div th:each="n : ${cargos}" class="col-4 project-sidebar-card bg-light p-3 shadow rounded" style="width: 30%;">
                            <img class="img-fluid image scale-on-hover" th:src="'/img/' + ${n.photo}"
                                 style="border-radius: 10px;">
                            <p class="lead mb-2" th:text="${n.name}"></p>
                            <p class="lead mb-2" style="font-weight: normal">Цена:&nbsp;<span th:text="${n.price}"></span> р/ч</p>
                            <p class="lead mb-2">Категория:&nbsp;<span th:text="${n.category.name}"></span></p>
                            <p class="lead mb-2">Страна:&nbsp;<span th:text="${n.description}"></span></p>
                            <div class="d-xl-flex justify-content-xl-center mb-2" th:if="${role == 'MANAGER'}">
                                <a class="btn btn-primary" th:href="'/cargos/edit/' + ${n.id}" style="margin-right: 10px">Редактировать</a>
                                <a class="btn btn-danger" th:href="'/cargos/delete/' + ${n.id}">Удалить</a>
                            </div>
                            <form class="bg-light rounded" th:action="'/cargos/ordering/' + ${n.id}" method="post">
                                <input class="form-control mb-2" type="text" name="address"
                                       required placeholder="Введите адрес доставки">
                                <button class="btn btn-primary" type="submit">Заказать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>